[flake8]
# Set the maximum line length to 79 characters
max-line-length = 79
# Ignore the following errors
ignore = E203, E501, W503
# Exclude the following directories
exclude = .git, __pycache__, .venv, venv, .eggs, *.egg, .tox, .mypy_cache, .pytest_cache